.card-btn {
    border-radius: 3px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.03);
    /* background-color: var(--color-btn-bg); */
    border: none;
    cursor: pointer;
    color: var(--color-text);
    text-align: start;
    display: block;
    transition: background-color var(--transition);
}

.card-btn:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.card-btn:active {
    background-color: rgba(255, 255, 255, 0.1);
}

.card-btn.active {
    background-color: rgba(255, 255, 255, 0.2);
    border-left: 3px solid var(--color-accent);
}

[data-theme='light'] .card-btn {
    filter: brightness(0) invert(0);
}

[data-theme='dark'] .card-btn {
    filter: brightness(0) invert(1);
}

/* [data-theme='light'] .card-btn {
    color: #000;
}

[data-theme='dark'] .card-btn {
    color: #fff;
} */
